---
title: YAML Ain’t Markup Lanugage
shorttitle: YAML
subtitle: metadata and configuration language
authors:
- kibigo
topics:
- data_serialization_language
external:
- text: Official website
  url: https://yaml.org
- text: Online demo
  url: https://nodeca.github.io/js-yaml/
- title: YAML
  comment: on Wikipedia
  url: https://en.wikipedia.org/wiki/YAML
---
<p>
	<dfn>YAML</dfn>, a recursive acronym for <dfn>YAML Ain’t Markup Language</dfn> (formerly <dfn>Yet Another Markup Language</dfn>), is a {% include link to="text" %}‐based {% include link to="data_serialization_language" %}.
	As of version 1.2, it is a strict superset of {% include link to="JSON" %}, but is commonly considered to be easier for humans to read and maintain than the latter.
	YAML is particularly well‐suited for metadata which is intended to be managed by hand; for example, many {% include link to="Markdown" %}‐based {% include link to="static_site_generator" text="static site generators" %} allow YAML metadata to be included at the beginning of documents as “frontmatter”.
	YAML is also commonly used as a configuration language, for similar reasons.
</p>
<p>
	Note that even though the YAML 1.2 specification was released in 2009, many implementations unfortunately still only support YAML 1.1.
</p>
