---
permalink: /
redirect_from:
- /Home/
- /Main_Page/
- /Main Page/
shorttitle: Home
title: Main Page
---
<p>
	Welcome to <cite>The Fandom Coders Encyclopædia</cite>!
	The purpose of this website is to provide a general reference for technological concepts, curated by the {% include link to="Fandom_Coders" %} community.
</p>
<p>
	If this is your first time visiting this site, you should begin by reading the {% include link to="Introduction" from=site.meta %}.
	The links at the top of this page provide further site navigation.
</p>
