---
title: command line
subtitle: method of operating a computer
authors:
- kibigo
redirect_from:
- /Entry/command line/
topics:
- Unix
external:
- title: Command‐line interface
  comment: on Wikipedia
  url: https://en.wikipedia.org/wiki/Command-line_interface
---
<p>
	The <dfn>command line</dfn> is a computer interface which receives lines of {% include link to="text" %} from the user and executes commands based on the content of those lines.
	Frequently these commands will output additional lines of text over the course of their operation, which are displayed for the user’s benefit.
</p>
<p>
	On Unix systems, the command line is frequently the primary means of operating a {% include link to="terminal_emulator" %}.
	Most terminal emulators start up with some variation of the {% include link to="Bourne_shell" %}.
</p>
